.section-one .btn-title{
    background: #00c1ff;
    color: white;
    font-weight: 900 !important;
    cursor: auto !important;
}

.btn-title{
    background: #8080805e;
    color: grey;
    font-weight: 900 !important;
    cursor: auto !important;
}
.btn-title:hover{
    background: #8080805e;
    color: grey;
}
.section-one .btn-title:hover{
    background: #00c1ff;
    color: white;
}


.d-flex{
    display: flex;

}
.ml-5{
    margin-left: 5px;
}

.form-control:focus{
    border-color:black !important;
  

}
.section-two .checkbox-container {
    width: 100%;

}
.application-btn, .application-input
{
    background:#ff000040 !important;
    border: 1px solid red !important;
}
.application-btn:hover
{
    background:#ff000040;
}
.border-1{
    border: 1px solid #ccc;
    padding: 3px;
}
.section-one .checkbox-container {
    width: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 20px;
}
.checkbox-container {
    border: 1px solid #ccc;
    border-radius: 5px;
}
.checkbox-container-3{
    border: 1px solid #ccc;
    padding: auto;
    border-radius: 5px;
    margin-left: 20px;
    
}
.checkbox-container span {

margin-left: 7px;
}

.checkbox-container input{
    width: 40px;
    height: 22px;
}
.p-15{
padding: 15px;
}
.cus-h3{
    font-size: 24px;
    padding: 4px;
    font-weight: 900;
}
.mt-2{
    margin-top: 10px;
}

.bold{
    font-weight: 900;
}
.row{
    margin-top: 10px;
}
.p-5{
    padding: 5px;
}